<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h2>Welcome to LMS</h2>

    <div class="form-container">
        <div class="tabs">
            <button class="tab-button" onclick="showLoginForm()">Login</button>
            <button class="tab-button" onclick="showRegisterForm()">Register</button>
        </div>

        <div id="loginForm" class="form-content">
            <h3>Login</h3>
            <form action="/api/v1/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>

                <div id="loginError" style="color: red; display: none;">Invalid username or password</div>
            </form>
        </div>

        <div id="registerForm" class="form-content" style="display:none;">
            <h3>Register</h3>
            <form action="/api/v1/registration" method="post">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>

                <label for="usernameRegister">Username:</label>
                <input type="text" id="usernameRegister" name="username" required>

                <label for="passwordRegister">Password:</label>
                <input type="password" id="passwordRegister" name="password" required>

                <button type="submit">Register</button>

                <div id="registerError" style="color: red; display: none;">Registration failed, please try again.</div>
            </form>
        </div>
    </div>
</div>

<script>
    function showLoginForm() {
        document.getElementById("loginForm").style.display = "block";
        document.getElementById("registerForm").style.display = "none";
    }

    function showRegisterForm() {
        document.getElementById("loginForm").style.display = "none";
        document.getElementById("registerForm").style.display = "block";
    }
</script>
</body>
</html>
